html
    head
        style
            include ../movie.css
        title Contribute by Adding a Movie or Person
    body
        div#header
            include ../partial/header
        div#search
            include ../partial/searchbar
        div#main

            h1 Contribute to the website!

            //-Add Person Box
            .addPerson
                h2 Add Person
                .addcontainer
                    form(action="/people" method="post")
                        table
                            tr
                                td #[label(for="") Name]
                                td #[input(type="text" name="name")]
                        label(for="") 
                        //-Add Person Button (Goes to a Person page)
                        button(type="submit") Add Person
            
            //-Add movie Box
            .addMovie
                h2 Add Movie
                ul.specification
                    li(style="font-size:80%;") Separate genres and persons by "," without a space
                    li(style="font-size:80%;") Only write in existing persons
                    li(style="font-size:80%;") Required: Title, Year, Runtime, Plot, Genre, and one of Persons
                    li(style="font-size:80%;") Year and Runtime must be integers
                .addcontainer
                    form(action="/movies" method="post")
                        table
                            tr
                                td #[label(for="") Title]
                                td #[input(type="text" name="title")]
                            tr
                                td #[label(for="") Released Year]
                                td #[input(type="text" name="year")]
                            tr
                                td #[label(for="") Running Time]
                                td #[input(type="text" name="time")]
                            tr
                                td #[label(for="") Plot]
                                td #[input(type="text" name="plot")]
                            tr
                                td #[label(for="") Genre]
                                td #[input(type="text" name="genre")]
                            tr
                                td #[label(for="") Actors]
                                td #[input(type="text" name="actor")]
                            tr
                                td #[label(for="") Directors]
                                td #[input(type="text" name="director")]
                            tr
                                td #[label(for="") Writers]
                                td #[input(type="text" name="writer")]
                            tr
                                td #[label(for="") Poster]
                                td #[input(type="text" name="poster")]

                        label(for="") 
                        //-Add Movie Button (Goes to a Movie Page)
                        button(type="submit") Add Movie

        include ../partial/footer

