html
    head
        style
            include ../movie.css
        title Movie
    body
        div#header
            include ../partial/header
        div#search
            include ../partial/searchbar
            
        div#main
            h1 Welcome!
            p Parisha and Yun Hye's Movie Database Website is for any movie lovers.

        include ../partial/footer


